body {
    display: flex;

    width: 100vw;
    height: 100vh;
    
    background-color: #030405;
}

.canvas-wrapper {
    display: flex;

    flex-direction: column;
}

.canvas {
    display: flex;
}